*.apk
*.ap_
*.aab
*.dex
*.class
*.iml

bin/
gen/
.gradle
.idea
obj/
/build
captures/
Thumbs.db
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.navigation
output.json
.externalNativeBuild

